$black: #192a3e;
$dark: #334d6e;
$light: #c2cfe0;
$divider: #ebeff2;
$gray: #90a0b7;
$hover: #4f9bff;
$bg: #fdfdfd;
$search-border: #e3e8ef;
$placeholder: #abb6c5;

// structure
$structure-title: #333150;
$structure-title-2: #454460;
$structure-submenu: #828094;

$structure-purple: #826cfc;
$structure-purple-2: #f2f0fe;
$structure-blue: #0085ff;
$structure-blue-2: #c0e8ff;
$structure-green: #54b806;
$structure-green-2: #d7ffe2;
$structure-yellow: #d4a707;
$structure-yellow-2: #fff9c7;

$text: #7c8196;

$card-blue: #507ff9;
$card-gray: #e9e9e9;
$card-dark: #6f737c;
$card-dark-2: #5e646f;
$card-dark-3: #9ba5b7;
$card-line-border: #c1cbde;
