@import "../../styles/_variables";
@import "../../styles/_mixins";

.searchbox {
  display: inline-block;
  // width: 236px;
  width: 100%;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid $search-border;
  box-sizing: border-box;
  border-radius: 7px;
  padding: 13px 16px;

  &__input {
    background-color: transparent;
    outline: none;
    border: none;
    width: 100%;
    @include font(15, 400, $dark);

    &::placeholder {
      color: $placeholder;
    }
  }
}
