main {
  grid-area: main;
  background-color: #fdfdfd;
  display: grid;
  grid-template:
    "search search" 166px
    "structure card" auto/352px minmax(836px, auto);
}

@media only screen and (max-width: 1400px) {
  main {
    grid-template:
      "search" 166px
      "structure" auto
      "card" auto/minmax(836px, auto);

    .structure {
      margin: 0 auto;

      &__list__item {
        grid-template-columns:
          minmax(70px, auto)
          minmax(136px, 200px)
          minmax(25px, 40px);
      }
    }
  }
}

@media only screen and (max-width: 660px) {
  main {
    grid-template:
      "search" 250px
      "structure" auto
      "card" auto/minmax(836px, auto);
  }
}
